<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(films:films)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button  >
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card >
    <ion-card-header>Episode </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
 
    <ion-item class="movie-info" lines="none">
      <ion-icon name="film" slot="start"></ion-icon>
      Director: 
    </ion-item>
 
    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Release Date: 
    </ion-item>
  </ion-card>
 
  <ion-button expand="full" >Share by Email</ion-button>
</ion-content>
-->

<ion-grid>
  <ion-row>
    <ion-col>
      <div>
        1 of 3
      </div>
    </ion-col>
    <ion-col>
      <div>
        2 of 3
      </div>
    </ion-col>
    <ion-col>
      <div>
        3 of 3
      </div>
    </ion-col>
  </ion-row>
</ion-grid>