

ion-tab-bar
{

    --ion-background-color:#a6a7ac;
    --ion-background-color:#545454;
}

ion-toolbar
{

    --ion-text-color:#FEFEFE;
    
}

ion-label
{
    color:white;
    --ion-background-color:white;
    font-weight:1000;
}
