ion-toolbar
{

    --ion-text-color:#FEFEFE;
    --ion-background-color:#383a3e;
}


ion-col
{
    gap: 4px;
   background-color:grey;
}

.inner
{
 
   background-color:#D4D2D0;
   margin: 5px;

   width: 45%;
}

toast
{
    --background: grey;
   
    --border-radius:5px;
    --button-color:primary;
    --color:white;
    --height:400px;
    --width:200px;

}
